*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Gill"; 
    src: url("../../assets/fonts/Gill\ Sans.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}


// !======================== Header Styles Start ========================
nav{
    height: 6rem;
    width: 100%;
    // box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.nav-logo{
    align-self: center;
    margin-left: 120px;
    text-align: center;
    a{
        text-decoration: none;
    }
}
.logo {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 26px;
    font-weight: 700;
    transition: 0.38s;
    letter-spacing: 0.8px;
}

.logo:hover{
    color: #dc5661;
    transition: 0.38s;
    cursor: pointer;
}

.nav-links{
    display: flex;
    list-style: none; 
    width: 50vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 1.3px;
    font-size: 21px;
    font-weight: 400;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: #717275;
    transition: 0.4s;
    font-weight: 300;
}
.nav-links li a:hover {
    color: #de4e45;
    transition: 0.4s;
}
.nav-links li {
    position: relative;
}
.nav-links li a:hover::before{
    width: 80%;
}

.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
        height: 4.5rem;
        background-color: #131418;
        justify-content: space-evenly;
    }
    .nav-logo{
        margin-left: 0;
    }
    .logo{
        color: white;
    }
    .nav-links li a{
        color: white;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}




// ! =============================== Main================================

main{
    width: 100%;
    padding-top: 50px;
    margin-bottom: 50px;
}

.item{
    display: flex;
}

.item__img{
    width: 45%;
    img{
        width: 100%;
    }
}

.item__description{
    background-color: #f1f1f1;
    width: 55%;
    display: flex;
    justify-content: center;
}

.item__description-content{
    width: 70%;
    h2{
        margin-top: 30px;
        font-size: 35px;
        font-family: "Gill";
    }
    h3{
        margin-top: 10px;
        font-size: 34px;
        font-family: "Gill";
        font-weight: 300;
    }
    p{
        margin-top: 10px;
        font-family: "Gill";
        input{
            border: none;
            background-color: #f1f1f1;
            width: 40px; 
            padding-left: 10px;
            height: 30px;
            font-weight: 600;
        }
    }
    button{
        margin-top: 20px;
        cursor: pointer;
        background: #95c6ce;
        border: #95c6ce 2px solid;
        width: 200px;
        height: 40px;
        color: white;
        font-weight: 700;
        font-size: 17px;
        transition: 0.8s;
    }
}

.addToCart:hover{
    transition: 0.7s;
    color: #95c6ce;
    background: white;
}


// ! ====================Footer========================

footer {
    font-size: 16px;
    background: white;
    padding: 2em 4em;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1em;
    font-family: "IBM Plex Sans", sans-serif;
}
  
footer ul {
    list-style: none;
}
  
.col {
    flex: 1;
}
  
.col-title {
    font-family: "Merriweather", serif;
    color: black;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.5em 0;
}
  
.col-list a {
    color: #717275;
    text-decoration: none;
    line-height: 1.4;
    font-weight: 400;
}
  
.col-list a:hover,
.col-list a:focus {
    text-decoration: underline;
}
  
.subscribe-form,
.social-media {
    display: flex;
    gap: 0.5em;
    padding: 0.5em 0;
}
  
.subscribe-input {
    width: auto;
    flex: 1;
    background: transparent;
    border: 0.06em solid #717275;
    font-size: 1em;
    font-weight: 500;
    padding: 0.5em;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
    display: inline-block;
    color: #717275;
}
  
.subscribe-input:focus {
    outline: none;
    border-color: #717275;
    color: #717275;
}
  
.subscribe-btn {
    background: white;
    border: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
    display: inline-block;
    color: black;
    cursor: pointer;
}
  
.subscribe-btn:hover,
.subscribe-btn:focus {
    background: black;
    color: white;
}
  
.form-title,
.social-col-title {
    font-size: 1em;
    color: black;
    font-weight: 600;
}
  
.social-media {
    flex-direction: column;
}
  
.social-media-list {
    display: flex;
    gap: 0.5rem;
}
  
.social-media-list a {
    padding: 0.5em;
    color: black;
    display: flex;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
}
  
.social-media-list a:hover,
.social-media-list a:focus {
    color: #717275;
    background: #ffffff1a;
}
  
.social-media-list svg {
    width: 1.5em;
    height: 1.5em;
    transition: all 0.25s ease 0s;
}

@media screen and (max-width: 800px) {
    footer {
      padding: 2em;
      flex-direction: column;
    }
    main{
        padding-top: 90px;
    }
    .item__description-content{
        h2{
            font-size: 25px;
            margin-top: 10px;
        }
        h3{
            margin-top: 5px;
            font-size: 24px;
        }
        p{
            margin-top: 0px;
        }
        button{
            margin-top: 5px;
        }
    }
}

@media screen and (max-width: 750px) {
    footer {
      padding: 2em;
      flex-direction: column;
    }
}


@media screen and (max-width: 640px) {
    .item{
        flex-direction: column;
        align-items: center;
    }
    .item__description-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item__description{
        width: 100%;
        display: flex;
        height: 170px;
        justify-content: center;
    }
}
